/************************/
/* STYLES FOR ALL PAGES */
/************************/

/* Formating Hover Effects for Links */
.nav-link{
  padding: 2px 0;
  margin-right: 15px;
  margin-left: 15px;
}

.nav-item .active {
  border-bottom: white solid; 
}

.nav-item a:hover {
  border-bottom: grey solid;
}

/* Jumbotron Background */
.jumbotron, .card-footer {
  background-color: #e6d5f5;
}

/* Fonts */
.underline {
  text-decoration: underline;
}

.smaller-text {
  font-size: 14px;
}

.smallest-text {
  font-size: 10px
}

/***********************/
/* STYLES FOR HOMEPAGE */
/***********************/

/* Background Image for Homepage */
#body-home { 
  background: url(../img/seachicago.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#blog-home {
  background: url(../img/rosegarden.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Homepage Centered Content */
#main-name {
    padding-top: 50vh;
}

#main-name h1 {
  font-size: 10vh;
}

#main-name p {
  font-size: 5vh;
}

/***********************/
/* STYLES FOR ABOUT ME */
/***********************/
.color {
  background-color: #d6eaf2;
}

.color2 {
  background-color:white;
}

.color4 {
  background-color:#615D6C;
}

/* Images */
.carousel-item {
  height: 50vh;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

#job-text {
  float: right;
}

.logos img {
  height: 30vh;
}

/***********************/
/* STYLES FOR PROJECTS */
/***********************/

#featured{
  background-color: rgba(0, 0, 0, 0.03);
}

#projects-body { 
  background: url(../img/beach.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*******************/
/* STYLES FOR BLOG */
/*******************/

#blog-header {
  background-color: #d6eaf2;
}





